{% extends 'base.html.twig' %}

{% block title %}Pending Debt{% endblock %}

{% block body %}


<div class="example-wrapper">

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/Breval Nouveau/Nextcloud/cours/symfony/Maida/src/Controller/DebtController.php'|file_link(0) }}">src/Controller/DebtController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/Breval Nouveau/Nextcloud/cours/symfony/Maida/templates/debt/index.html.twig'|file_link(0) }}">templates/debt/index.html.twig</a></code></li>
    </ul>



    {{ dump(pending) }}

</div>
{% endblock %}
