{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}


    <div class="nav">
        <h2>Profile</h2>
        <a href="">profile</a>
        <a href="">log out</a>
    </div>

    <br>

    <div class="main">
        <div class="button"><a href="{{ path('add_new_debt') }}">Add Debt</a></div>
        <div class="button"><a href="{{ path('debt') }}">Pending</a></div>
        <div class="button"><a href="{{ path('accept') }}">Accept</a></div>
        <div class="button"><a href="{{ path('debt') }}">Deadline</a></div>
    </div>



{% endblock %}
