{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    <div class="container">
        {% if app.user != null %}
            <img src="https://media1.tenor.com/images/3d190af70cfeea404f796f869f46a3c3/tenor.gif">
            <h1>ABSOLUMENT MAGNIFIQUE ! Tu es connecté !</h1>
        {% endif %}
        {% if app.user == null %}
            <h1>Bienvenue sur Maida !</h1>
            <h3>Pour continuer, veuillez vous <b>inscrire</b> ou vous <b>connecter</b>.</h3>

            <a href="{{ path('registration') }}"><button type="button" class="btn btn-success"><i class="fas fa-user-edit"></i> S'Inscrire</button></a>
            <a href="{{ path('app_login') }}"><button type="button" class="btn btn-info"><i class="fas fa-sign-in-alt"></i> Se Connecter</button></a>
        {% endif %}
    </div>

    <br>

    <div class="main">
    </div>



{% endblock %}
