{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}

    <div class="container">
        <img src="{{ asset('img/maida_black.png') }}" id="maida_dashboard">
        <h2 id="logo_comment"><i>Gestionnaire de Dettes</i></h2>
        <hr>
        <h1>Bienvenue sur Maida !</h1>
        <br>
        {% if app.user != null %}

        {% endif %}
        {% if app.user == null %}
            <h3>Pour continuer, veuillez vous <b>inscrire</b> ou vous <b>connecter</b>.</h3>

            <a href="{{ path('registration') }}"><button type="button" class="btn btn-success btn-lg"><i class="fas fa-user-edit"></i> S'Inscrire</button></a>
            <a href="{{ path('app_login') }}"><button type="button" class="btn btn-info btn-lg"><i class="fas fa-sign-in-alt"></i> Se Connecter</button></a>
        {% endif %}
    </div>

    <br>

    <div class="main">
    </div>



{% endblock %}
